
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

    <!-- to specifies link text that are same link to currentpath  -->
    <script>
        var temp = "<%= currentPath.path %>"
        for(var i =0; i<document.getElementsByTagName("a").length;i++){
            if( temp == document.getElementsByTagName("a")[i].getAttribute("href")){
                document.getElementsByTagName("a")[i].style.color = "#E8B3E6" ;
            }
        }
    </script>
    </body>
</html>
