<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg" style="color:white;background-color:#c58ec3">
        <a class="navbar-brand" style="color:white" href="/">หน้าจอหลัก</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" style="color:white" href="/checkPay">บันทึกการชำระเงิน</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" style="color:white" href="/analysis1">วิชามีนศ.มากที่สุด</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" style="color:white" href="/analysis3">จำนวนนศ.ที่ถอนรายวิชาแต่ละภาค</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" style="color:white" href="/analysis4">จำนวนนศ.ที่ลงทะเบียนเรียนแต่ละวิชา</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" style="color:white" href="/analysis6">จำนวนนศ.สูงสุดที่รับได้ในแต่ละวิชา</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" style="color:white" href="/analysis7">จังหวัดของนศ.</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" style="color:white" href="/analysis8">นศ.ที่มีเกรดเฉลี่ยนเยอะสุดของแต่ละภาควิชา</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" style="color:white" href="/analysis9">นศ.ที่ได้เกียรตินิยมอันดับ 1 ของแต่ละภาควิชา</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" style="color:white" href="/analysisMostDropSub">วิชาที่ถอนมากที่สุด</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" style="color:white" href="/analysis11">จำนวนนศ.ที่ลงทะเบียนเรียนของแต่ละภาควิชา</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" style="color:white" href="/analysis12">เกรดเฉลยี่ของแต่ละวิชา</a>
            </li>
          </ul>
        </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a style="padding-right:2em" disabled>Signed In As <%= currentUser.username %></a></li>
                <li><a style="padding-right:1em;color:#57206F" href="/logout">Logout</a></li>
            </ul>
      </nav>
