<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">หน้าจอหลัก</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/info">ข้อมูล</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/teachTable">ตารางสอน</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stdRecord">ผลการเรียน</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stdList">รายชื่อนักศึกษา</a>
            </li>
          </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a style="padding-right:2em " disabled>Signed In As <%= currentUser.username %></a></li>
            <li><a style="padding-right:1em" href="/logout">Logout</a></li>
        </ul>
      </nav>
                        