table, td, th {
    border: 5px solid #bae2e6;
    text-align: center;
  }
td.top {
  background-color: #bdb4cd;
  text-align: right;
  }
td.bottom {
  background-color: #dcd3d8;
  padding: 15px;
}
.box{
  background-color: "#FFFFFF"
}
html, body {
  margin: 0;
  padding: 0;
}
.button {
  display: inline-block;
  border: 2px solid #726E6D;
  padding: 10px 20px;
  color: #726E6D;
  text-decoration: none;
  transition: 0.3s;
}

.button:hover {
  background: #fe8aa5;
  color: #000;
  text-decoration: none;
}
.container
{
  width: 800px;
  background-color: #bfebee;
}
section{
  background-color: #f9f7d5;
  object-position: center;
}
form{
  text-align: center;
  margin: 0;
  padding: 10px;
}
