head{
  font-family:'Kanit', sans-serif;
}
body{
  font-family:'Kanit', sans-serif;
  background-color :#F0F0F0;
}

.table .thead-light{
  text-align: center;
}

.body-center{
  padding-top: 10%;
  padding-bottom: 10%;
}

.border-test{
  border: 5px;
  border-style: solid;
  border-radius: 3px;
  border-color: white;
}

.container .align-text-center{
  margin-top: auto;
}
