
<% include ./partials/header %>

   <div class="container text-align-center" style="margin-top:3%">
     <div class="row">
       <div class="col-3">
       </div>
       <div class="col-6">
         <table class="table table-bordered">
           <thead class="thead-light">
             <tr>
               <th>รหัสนักศึกษา</th>
               <th>ภาควิชา</th>
               <th>เกรดเฉลี่ย</th>
             </tr>
           </thead>
            <% subject.forEach(function(s){ %>
           <tbody class="table-light text-center">
               <tr>
                 <th><%= s.id %> </th>
                 <th><%= s.depart %> </th>
                 <th><%= s.grade %> </th>
               </tr>
           </tbody>
           <% }); %>
         </table>
       </div>
       <div class="col-3">
       </div>
     </div>
   </div>

   <script>
       var a = <%- subjectJSON %> ;
       console.log(a[0]);
   </script>

<% include ./partials/footer %>
