<% include ./partials/header %>

<div class="container text-align-center" style="margin-top:3%">
     <div class="row">
       <div class="col-3">
       </div>
       <div class="col-6">
       <h2>เกรดเฉลี่ยของแต่ละวิชา</h2>
       <canvas id="myBar"></canvas>
         <table class="table table-bordered">
           <thead class="thead-light">
             <tr>
               <th>รหัสวิชา</th>
               <th>เกรด (เฉลี่ย)</th>
             </tr>
           </thead>
           <% plot.forEach(function(s){ %>
           <tbody class="table-light text-center">
               <tr>
                 <th><%= s.id %> </th>
                 <th><%= s.avgg %> </th>
               </tr>
           </tbody>
           <% }); %>
         </table>
       </div>
       <div class="col-3">
       </div>
     </div>
   </div>

<script>
  var ctx = document.getElementById('myBar').getContext('2d');
  var chart = new Chart(ctx, {
// The type of chart we want to create
type: 'bar',

// The data for our dataset
  data: {
   labels: [<% plot.forEach(function(s){ %> "<%= s.id %>",<% }); %>"zero","five"],
   datasets: [{
       label: "Student",
       backgroundColor: 'rgb(255, 99, 132)',
       borderColor: 'rgb(255, 99, 132)',
       data: [<% plot.forEach(function(s){ %> <%= s.avgg %> ,<% }); %>"0","5"],
   }]
},
// Configuration options go here
options: {}
});
</script>

<% include ./partials/footer %>
