<% include ./partials/header %>

<link href="/stylesheet/Fefe.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">

    <div class="container-fluid text-align-center">
      <div class="row">
        <div class="col-sm text-center">
          <label class="welcome">welcome</label>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <img id="Thanason" src="https://i.imgur.com/Z0MNfNf.jpg?1" class="img-fluid img-Tle"  alt="TitleHandsome" onmouseout=picTle1() onmouseover=picTle2()  onclick=picTle3()>
        </div>
      </div>
    </div>
  <script>
    function picTle1() {
      document.getElementById("Thanason").src="https://i.imgur.com/Z0MNfNf.jpg?1"
    }
    function picTle2() {
      document.getElementById("Thanason").src="https://i.imgur.com/OKiZmaC.jpg?1"
    }
    function picTle3() {
      document.getElementById("Thanason").src="https://i.imgur.com/ltRHT9J.jpg?1"
    }
  </script>

<h1 id="a/a">Hello!</h1>
    <% u.forEach(function(user){ %>
    <p><%= user.username %></p>
    <%});%>

    <button id="atten">SSSS</button>

<script>
    var aa = [{name : "aa"},{name : "bb"},{name : "cc"}];

    $(function() {
    $("#atten").on("click", function () {
        console.log("gg");
    $.ajax({
      type: 'GET',
      data : {ajaxData : aa},
      url: '/orders',
      success: function(result) {
        console.log(result);
        $("#atten").html(result[0].name);      }
    });
  });
});
</script>

<% include ./partials/footer %>
