<% include ./partials/header %>

<link href="/stylesheet/Fefe.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">

    <div class="container-fluid text-align-center">
      <div class="row">
        <div class="col-sm text-center">
          <label class="welcome">welcome to student registration</label>
        </div>

<script>
    var aa = [{name : "aa"},{name : "bb"},{name : "cc"}];

    $(function() {
    $("#atten").on("click", function () {
        console.log("gg");
    $.ajax({
      type: 'GET',
      data : {ajaxData : aa},
      url: '/orders',
      success: function(result) {
        console.log(result);
        $("#atten").html(result[0].name);      }
    });
  });
});
</script>

<% include ./partials/footer %>
