<% include ./partials/header %> 

<h1 id="a/a">Hello!</h1>
    <% u.forEach(function(user){ %>
    <p><%= user.username %></p>
    <%});%>

    <button id="atten">SSSS</button>

<script>
    var aa = [{name : "aa"},{name : "bb"},{name : "cc"}];
    
    $(function() {
    $("#atten").on("click", function () {
        console.log("gg");
    $.ajax({
      type: 'GET',
      data : {ajaxData : aa},
      url: '/orders',
      success: function(result) {
        console.log(result);
        $("#atten").html(result[0].name);      }
    });
  });
});
</script>

<% include ./partials/footer %> 