<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="https://imgur.com/5WFok5X.jpg">

    <title>Login </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="/stylesheet/signin.css" rel="stylesheet">
    
  </head>
  
  <body class="text-center">
    <div class="container">
      <form class="form-signin" action="/login" method = "POST">
        <div class="col text-center">
          <img class="img-fluid rounded-circle" style="margin-bottom:3px" src="https://i.imgur.com/xjKgHnv.jpg?1" alt="Thanason With Sleep">
        </div>
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputStdID" class="sr-only">StudentId</label>
        <input name = "username" id="inputStdID" class="form-control" placeholder="StudentId" required="" autofocus="" type="text">
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" id="inputPassword" class="form-control" placeholder="Password" required="" type="password">
        <button class="btn btn-lg btn-block text-white" type="submit" style="background-color: #FF720D" >Sign in</button>
        <div style="margin-top : 10px" ><a href="/register" style="text-decoration: underline;">Sing up </a></div> 
      </form>
      <% if(error && error.length > 0){ %>
        <br>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>
    <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
    <% } %>
  </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body></html>
