<% include ./partials/header %>

<div class="container text-align-center" style="margin-top: 3%">
        <div class="row align-center">
          <div class="col-sm">
            <button type="button" class="btn" data-toggle="collapse" data-target="#stdID">GEN 321</button>
              <div id="stdID" class="card card-body collapse show">
                <div class="row-sm">
                  <label>อาจารย์ผู้สอน: ดร.สันติธรรม พรหมอ่อน, ดร.ธนสนธิ์ เอี่ยมยิ่งสกุล</label>
                </div>
                <table class=" table table-striped table-bordered table-light collapse show ">
                  <thead style="background-color:#AEAEAE;border-color:black">
                    <tr >
                      <th scope="col">รหัสนักศึกษา</th>
                      <th scope="col">ชื่อ</th>
                      <th scope="col">นามสกุล</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>59070501037</td>
                      <td>ธนสนธิ์</td>
                      <td>เอี่ยมยิ่งสกุล</td>
                    </tr>
                    <tr>
                      <td>59070501036</td>
                      <td>ขวัญชนก</td>
                      <td>คล้ายแก้ว</td>
                    </tr>
                  </tbody>
                </table>
                <!--<div class="card-head">
                  <button id="addRow"type="button" class="btn btn-primary" onclick="">+</button>
                  <button id="delRow"type="button" class="btn btn-primary" onclick="">-</button>
                </div>-->
              </div>
          </div>
        </div>
      </div>

<% include ./partials/footer %>
