<% include ./partials/header %>

<div class="container body-center">
        <div class="row align-center">
          <div class="col-sm">
                <% stdRecord.forEach(function(user){ %>
                <button type="button" class="btn" data-toggle="collapse" data-target="#stdID"><%= user.subject +' - '+ user.subjectName+' SEC '+ user.subjectSec %></button>
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr >
                  <th scope="col">รหัสนักศึกษา</th>
                  <th scope="col">คะแนน</th>
                  <th scope="col">เกรด</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-light">
                  <td><%= user.stdID %></td>
                  <td><%= user.point %></td>
                  <% if(user.grade == 4.00) {%>
                        <td>A</td>
                    <% } else if(user.grade == 3.50) {%>
                        <td>B+</td>
                        <% } else if(user.gradde == 3.00) { %>
                            <td>B</td>
                            <% } else if(user.grade == 2.50) { %>
                                <td>C+</td>
                                <% } else if(user.grade == 2.00) { %>
                                    <td>C</td>
                                    <% } else if(user.grade == 1.50) { %>
                                        <td>D+</td>
                                        <% } else if(user.grade == 1.00) { %>
                                            <td>D</td>
                                            <% } else { %>
                                                <td>F</td>
                                                <% } %>
                  
                </tr>
              </tbody>
            </table>
            <% }); %>
          </div>
        </div>
      </div>

<% include ./partials/footer %>