<% include ./partials/header %>
<div class="container body-center">
    <div class="row align-center">
      <div class="col-sm">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr >
              <th scope="col">วัน</th>
              <th scope="col">เวลา</th>
              <th scope="col">รายวิชา</th>
              <th scope="col">ห้องสอน</th>
              <th scope="col">section</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-light">
              <td>จันทร์</td>
              <td>09.30 - 12.30</td>
              <td>CPE231 Datamodel</td>
              <td>CPE1115</td>
              <td>A</td>
            </tr>
            <tr class="table-light">
              <td></td>
              <td>13.30 - 17.30</td>
              <td>CPE234 Database</td>
              <td>CPE1121</td>
              <td>A</td>
            </tr>
            <tr class="table-light">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% include ./partials/footer %>